.ListItem {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 50px auto;
  grid-template-areas: 
    "status title"
    "status progress"
    "stream stream";
  padding: 15px 10px;
  margin: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

h3 {
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.Status {
  grid-area: status;
  justify-self: center;
}

.StreamInfo {
  grid-area: stream;
  font-size: 0.7em;
  color: gray;
  padding: 3px 0;
  justify-self: right;
}

/* make background-color visible for pause icon */
.ListItem .Status svg {
  padding: 3px;
}

.ListItem .Status svg[title="pause"] {
  color: #42BCF5;
  background-color: #e3f5fe;
  border-radius: 50%;
}

.ListItem .Status svg[title="check"] {
  color: #2BA84A;
}

.progress {
  grid-area: progress;
}

.smooth-left-to-right {
  transform: translateX(calc(100vw));
  transition: transform .5s ease-out;
}

.smooth-right-to-left {
  transform: translateX(calc(-100vw));
  transition: transform .5s ease-out;
}

