.Login {
  padding: 15px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #42bcf5;
}

.Login form {
  margin: 0 auto;
}

.Login .InputGroup {
  display: grid;
  align-items: center;
  background-color: #ebf0f7;
  color: #999999;
  grid-template-columns: 30px auto 46px;
  height: 46px;
  border-radius: 999px;
}

.Login .InputGroup svg[title="lock"] {
  justify-self: end;
  align-self: center;
}

.Login .InputGroup input[name="password"] {
  width: 100%;
  background-color: #ebf0f7;
  font-size: 18px;
  border: none;
  padding: 10px;
  height: 100%;
}

.Login button[type="submit"] {
  background-color: #42bcf5;
  height: 36px;
  width: 36px;
  color: #f7f9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.Login .InputGroup svg[title="spinner"] {
  justify-self: center;
  animation: 1.5s linear infinite spinner;
}
