.ProgressBar {
  height: 8px;
  border-radius: 4px;
  background-color: #f7f9fc;
  border: 1px solid #f7f9fc;
}

.Filler {
  height: 100%;
  border-radius: inherit;
  background-color: #42bcf5;
  transition: width 0.2s ease-in;
}
