.SearchBox {
  padding: 15px;
}

.SearchBox .TextInputGroup {
    position: relative;
}

.SearchBox .RadioGroup {
  padding: 10px;
  text-align: center;
}

.SearchBox .RadioGroup label {
  margin: 0 15px;
}

.SearchBox .RadioGroup label input[type="radio"] {
  margin-right: 5px;
}

.SearchBox .TextInputGroup button[type="submit"] {
  position: absolute;
  right: 0;
  margin: 4px;
  background-color: #42BCF5;
  height: 36px;
  width: 36px;
  color: #F7F9FC;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.SearchBox [name="query"] {
  width: 100%;
  /* background-color: #ebf0f7; */
  background-color: #F7F9FC;
  font-size: 18px;
  height: 44px;
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
}
